button{
    i {
        margin-right: 10px;
    }
}
.session {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: 100px 200px;

  .header {
    grid-row: 1;
    grid-column: 2;
  }

  .left {
    grid-column: 1;
  }

  .center {
    grid-column: 2;
  }

  .right {
    grid-column: 3;
  }

  .info {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;

    .panel {
        padding: 2px 10px;
    }
  }
}

.list {
  margin: 10px;
  padding-left: 0;

  li {
    display: grid;
    grid-template-columns: 40px 100px;
    border-bottom: 1px solid #ccc;
  }
}
