html {
  height: 99%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.card {
  background-color: gainsboro;
  width: 100px;
  height: 150px;
  margin: 10px;

  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  .display {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 85px;
    align-self: center;
    justify-self: center;
  }
}

.display {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 85px;
  align-self: center;
  justify-self: center;
}

div.time {
  display: grid;
  border-style: solid;
  border-radius: 75px;
  border-width: 2px;
  width: 150px;
  height: 150px;
  justify-content: center;

  span {
    font-family: 'Source Code Pro', monospace;
  }
}

.panel {
  padding: 2px 10px;
}

button {
  i {
    margin-right: 10px;
  }
}

.participant-view {
  h1 {
    font-size: .7em;
  }

  display: grid;
  grid-template-columns: 2% auto 2%;
  grid-template-rows: 1fr auto;

  .name {
    font-size: 18pt;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
  }

  .header {
    grid-row: 1;
    grid-column: 2;
  }

  .waiting {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    align-items: center;
    justify-content: center;

    .big {
      font-size: 5em;
    }
  }

  .round {
    grid-row: 2;
    grid-column: 2;

    display: flex;

    .cards {
      grid-row: 2;

      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .card {
        cursor: pointer;
        background-color: gainsboro;
        width: 5em;
        height: 7em;
        margin: .25em;

        border-style: solid;
        border-width: 1px;
        border-color: black;
        border-radius: .25em;

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;

        .display {
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          font-size: 4em;
          align-self: center;
          justify-self: center;
        }

        &:hover {
          background-color: white;
          position: relative;
          top: -3px;
          left: -3px;
        }

        &.chosen {
          background-color: lightgreen;
          border-width: 2px;
        }
      }

    }
  }
}

.master {
  font-size: initial;
  height: 100%;
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 100px 250px auto;

  .header {
    grid-row: 1;
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
  }

  .left {
    grid-column: 1;
  }

  .center {
    grid-column: 2;
  }

  .right {
    grid-column: 3;
  }

  .info {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;

    .controls {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
    }

    .title {
      grid-row: 1;
    }

    .content {
      grid-row: 2;

      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
    }

    .current {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr auto;
    }

    .rounds {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 60px auto;

      .content {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        justify-items: stretch;
        align-items: start;

        overflow-y: scroll;
        display: grid;
        height: 160px;
      }
    }

  }

  .play-area {
    grid-row: 3;
    grid-column: 2;

    display: flex;
    flex-direction: column;

    .participants {
      grid-row: 1;

      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .vote {
        height: 200px;
        display: grid;
        justify-items: center;

        .resonse {
          grid-row: 1;
        }

        .participant {
          grid-row: 2;

          .name {
            font-size: 18pt;
          }

        }

      }
    }

    .qr-code {
      flex: 1 1 auto;
    }

    .session-link {
      font-size: 24pt;
      display: grid;
      justify-items: center;
      margin-top: 10px;
    }
  }
}

.list {
  margin: 10px;
  padding-left: 0;

  li {
    display: grid;
    grid-template-columns: 40px auto 40px;
    border-bottom: 1px solid #ccc;
  }
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container.reveal .flipper {
  transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  transition: .6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.back,
.front {
  grid-row: 1;
  grid-column: 1;
  backface-visibility: hidden;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.fill-vertical {
  height: 100%;
}

.fill-horizontal {
  width: 100%;
}

.center-image {
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.center-image img {
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.join-view {
  display: grid;
  grid-template-columns: 1.5em auto 1.5em;

  h1 {
    font-size: 1.5em;
    font-weight: bold;
  }

  .jumbotron{
    grid-column: 2;
    padding: 1em;
  }

}

/* < .72 */
@media screen and (max-aspect-ratio: 18/25) {
  .media-queries {
    // background-color: orange;
    font-size: 5.4vw;
  }
}

/* .72 - .9 */
@media screen and (min-aspect-ratio: 18/25) and (max-aspect-ratio: 9/10) {
  .media-queries {
    //background-color: yellow;
    font-size: 4.4vw;
  }
}

/* .9 - 1.5 */
@media screen and (min-aspect-ratio: 9/10) and (max-aspect-ratio: 8/5) {
  .media-queries {
    //background-color: green;
    font-size: 3.5vw;
  }
}

/* > 1.5 */
@media screen and (min-aspect-ratio: 8/5) {
  .media-queries {
    //background-color: blue;
    font-size: 1.9vw;
  }
}

/* > 4 */
@media screen and (min-aspect-ratio: 4/1) {
  .media-queries {
    //background-color: indigo;
    font-size: 1.8vw;
  }
}

/* > 4 */
@media screen and (min-aspect-ratio: 27/5) {
  .media-queries {
    //background-color: violet;
    font-size: 9vmin;
  }
}
